@{
    ViewBag.Title = "Mitchell Wright";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>I am a junior majoring in MIS and Business Analytics. On campus, I am a leader in the Schey Sales Centre having served as the Director of Membership last year, and am now the Vice President of Operations. This summer, I will be interning at Sumo Logic as a Sales Development Representative Intern in San Francisco.</p>
