@{
    ViewBag.Title = "Contact Me";
    ViewBag.Message = "My Contact Information";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    25 W Washington St Unit 1<br />
    Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    440.241.6521
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:mw2146116@ohio.edu">mw246116@ohio.edu</a><br />
</address>