@{
    ViewBag.Title = "MIS4200 Home Page";
}

<div class="jumbotron">
    <h1>Mitchell Wright</h1>
    <p class="lead">Connect with me here!</p>
    <p><a href="https://www.linkedin.com/in/mitchellawright/" class="btn btn-primary btn-lg">Connect &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>This Summer</h2>
        <p>
            This summer I will be interning with Sumo Logic in San Francisco.
        </p>
        <p><a class="btn btn-default" href="https://www.sumologic.com/">Sumo Logic &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Schey Sales Centre</h2>
        <p>On Campus I am an active member and leader in the Schey Sales Centre, currently serving as the Vice President of Operations.</p>
        <p><a class="btn btn-default" href="https://www.sumologic.com/">Schey Sales Centre &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>My Hometown</h2>
        <p>I am originally from Strongsville, Ohio, a suburb about 25 minutes outside of Cleveland.</p>
        <p><a class="btn btn-default" href="https://www.strongsville.org/">Strongsville &raquo;</a></p>
    </div>
</div>